.wrapper {
    max-width: 100%;
	margin-right: auto;
	margin-left: auto;
}

h1, h2, h3, p{font-family: sans-serif;
    color: black;
    font: 24px}

    h1 { font-size: 50px;
        color: #A219FA;
        text-transform: uppercase;
        font-style: italic;
        text-align: center;}


        h2 {color: #4921DE ;text-transform: uppercase;
            font-size: 40px;}

            
p, li {
    font-size: 22px;
    font-family: sans-serif;
    line-height: 1.5;
    color: black;
}

.content {
    padding: 6em 15em 0 15em;
}

.article {
    border-radius: 1em;
    background-color: #f4f4f4f4;
    border-style: none;
    padding: 0.75em;
    margin: 0.75em 0;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #218DDE;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
}

.nav ul li h3 {
    display: inline;
    color: white;
    text-align: left;
    font-size: 35px;
    margin-right: 8.5em;
}

.nav ul {
    top: 0;
    list-style: none;
}

.nav ul li a {
    display: inline-block;
    min-width: 8em;
	padding: 0.75em;
    margin: 0 0.5em;
	color: black;
    background-color: white;
	text-decoration: none;
    border-radius: 0.3em;
    text-align: center;
}

.nav ul li a:hover {
    background-color: #f4f4f4f4;
}

footer p {
    font-size: small;
    font-style: italic;
    text-align: center;
    top: 100%;
}