h1, h2, h3, p{font-family: sans-serif;
    color: #444;
    font: 24px}

    h1 { font-size: 50px;
        color: #A219FA;
        text-transform: uppercase;
        font-style: italic;}


        h2 {color: #4921DE ;text-transform: uppercase;
            font-size: 40px;}

            
p,li {
    font-size: 22px;
    font-family: sans-serif;
    line-height: 1.5;
  }

